@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --primary-blue: rgb(10, 0, 96);
  --secondary-blue: rgb(101, 101, 154);
  --light-orange: rgb(254, 131, 60);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: var(--secondary-blue);
}

a {
  text-decoration: none;
  color: var(--primary-blue);
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.25rem 1rem 1.25rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.logo{
  font-style: italic;
  color: var(--primary-blue);
  font-weight: bold;
  font-size: 1.4rem;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 -1.25rem 3rem -1.25rem;
  padding: 0 20px;
}

.heading h1 {
  color: white;
  text-shadow: 0 0 12px black;
}

.heading p {
  color: white;
  text-shadow: 0 0 12px black;
  font-style: italic;
}

.hero, .authentication{
  top: 0;
  background-color: light-gray;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 1px 15px;
}

.hero {
  background-image: url("./assets/groceries-bg.jpg");
}

.authentication {
  background-image: url("./assets/paper-bag-bg.jpg");
}

.groceries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 1rem;
}

.grocery {
  background-color: var(--light-orange);
  color: var(--primary-blue);
  border-radius: 8px;
  margin: 10px 0;
  padding: 25px 10px 10px 10px;
  position: relative;
  cursor: default;
  box-shadow: 0 0 1px var(--primary-blue);
}

.grocery .close {
  position: absolute;
  top: 8px;
  right: 10px;
  color: rgb(225,0,0);
  cursor: pointer;
  border: none;
  background: none;
}

.grocery .close:hover {
  scale: 1.4;
}

.grocery .close:active {
  scale: 1;
}

.grocery .add-to-cart {
  position: absolute;
  font-size: 1rem;
  top: 8px;
  left: 10px;
  color: var(--primary-blue);
  cursor: pointer;
  border: none;
  background: none;
}

.checked {
  text-decoration: line-through;
  color: slategray;
  background: lightgray;
  box-shadow: 1px 1px 10px -2px var(--secondary-blue);
}

.form,
.content {
  width: 90%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid var(--primary-blue);
  border-radius: 5px;
  background: var(--primary-blue);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:active {
  box-shadow: inset 0 0 8px black;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: var(--primary-blue);
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: var(--light-orange) var(--primary-blue) var(--primary-blue) var(--primary-blue);
  border-radius: 50%;
  animation: spin 1.2s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2.5rem;
  }

  .heading p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px) { 
  .groceries {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  } 

  .grocery {
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    padding: 0.5rem 1.8rem;
  }

  h2 {
    margin: 0;
  }

  .grocery-date {
    display: none;
  }
}
